@import "../../sassStyles/mixins";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 60px;

  &__item {
    @extend .pagination;

    padding: 5px 10px;
    border: 1px solid var(--theme-border-color);
    border-left-width: 0;
    color: var(--theme-page-text);
    cursor: pointer;
    font-size: 14px;

    @include smMaxBreakPoint {
      padding: 3px 5px;
    }

    &.active {
      background: var(--theme-color2);
      color: #ffffff;
    }

    &.disabled {
      background: var(--theme-page-background-disabled);
      color: var(--theme-page-text-dull);
      pointer-events: none;
    }

    &:first-child {
      border-left-width: 1px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
