@import "../../sassStyles/mixins";

.loader {
  position: fixed;
  left: 0;
  top: 70px;
  width: 100%;
  height: calc(100% - 100px);
  z-index: 1;
  background-color: var(--theme-page-background-alt);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include smMaxBreakPoint {
    height: calc(100% - 156px);
  }

  .loader__text {
    text-align: center;
    margin-bottom: 10px;
    color: var(--theme-page-text);
  }
  .loader__container {
    width: 120px;
    height: 20px;
    border-radius: 200px;
    background: var(--theme-gardient);
    animation: loaderAnimation 1s alternate infinite;
  }
}

@keyframes loaderAnimation {
  100% {
    width: 20px;
  }
}
