@import "../../sassStyles/mixins";

.navbar {
  background: var(--theme-color1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 2;
  padding: 10px 15px;
}
.navbar__rightContent {
  display: flex;
}
.navbar__menu {
  @include smMaxBreakPoint {
    @include boxSetting;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--theme-border-color);
  }

  ul {
    list-style-type: none;
    display: flex;

    @include smMaxBreakPoint {
      justify-content: space-evenly;
    }

    > li {
      margin: 0 20px;

      @include smMaxBreakPoint {
        margin: 0;
      }

      > a {
        text-decoration: none;
        color: #ffffff !important;
        display: flex;

        @include smMaxBreakPoint {
          font-size: 12px;
          color: inherit !important;
        }

        .feather {
          width: 18px;
          margin-right: 5px;

          @include smMaxBreakPoint {
            width: 22px;
            margin: 0 0 5px;
          }
        }

        @include smMaxBreakPoint {
          flex-direction: column;
          align-items: center;
          padding: 7px 10px;
        }
      }

      > a.active {
        color: var(--theme-color3) !important;
        pointer-events: none;

        @include smMaxBreakPoint {
          font-size: 12px;
          color: var(--theme-color2) !important;
        }
      }
    }
  }
}
.navbar__themeToggle {
  margin-left: 20px;

  .navbar__themeToggleCheckbox {
    display: none;

    + label {
      display: block;
      position: relative;
      cursor: pointer;
      user-select: none;
      width: 40px;
      height: 20px;
      border-radius: 60px;
      transition: background 0.4s;
      background-color: var(--theme-page-text-dull);

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
      }

      &::before {
        right: 1px;
        left: 1px;
        top: 1px;
        bottom: 1px;
        background-color: var(--theme-page-text-dull);
        border-radius: 60px;
        transition: background 0.4s;
      }

      &::after {
        top: -1px;
        left: 0;
        width: 22px;
        height: 22px;
        background-color: #ffffff;
        border-radius: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transition: transform 0.4s;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-moon'%3E%3Cpath d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    &:checked + label {
      background-color: var(--theme-color2);

      &::before {
        background-color: var(--theme-color2);
      }
    }

    &:checked + label::after {
      transform: translateX(20px);
      background-color: #3e3e3e;
      // box-shadow: 0 0 5px black;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-sun'%3E%3Ccircle cx='12' cy='12' r='5'%3E%3C/circle%3E%3Cline x1='12' y1='1' x2='12' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='21' x2='12' y2='23'%3E%3C/line%3E%3Cline x1='4.22' y1='4.22' x2='5.64' y2='5.64'%3E%3C/line%3E%3Cline x1='18.36' y1='18.36' x2='19.78' y2='19.78'%3E%3C/line%3E%3Cline x1='1' y1='12' x2='3' y2='12'%3E%3C/line%3E%3Cline x1='21' y1='12' x2='23' y2='12'%3E%3C/line%3E%3Cline x1='4.22' y1='19.78' x2='5.64' y2='18.36'%3E%3C/line%3E%3Cline x1='18.36' y1='5.64' x2='19.78' y2='4.22'%3E%3C/line%3E%3C/svg%3E");
    }
  }
}
