.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #3b4652;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

  & > div {
    display: flex;
    align-items: baseline;
    color: #f9f9f9;
    font-size: 12px;

    & > strong {
      font-size: 0.85em;
    }

    a {
      text-decoration: underline;
    }
  }
}
